body{
  margin: 0;
}
header {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #18181818;
  -webkit-app-region: drag;
}

header button {
  all: unset;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag;
}

#close {
  background-color: #ff5f56;
}

#minimize {
  background-color: #ffbd2e;
}

#maximize {
  background-color: #27c93f;
}

main{
  display:grid;
  max-width: 900px;
  grid-template-columns: 16rem auto;
  gap:1rem;
  margin:auto;
}

.mainGrid {
  height: 120px;
}

button{
  all: unset;
}

.selectOption{
  display: block;
  padding: 0.5rem;
  width: 100%;
  background-color: #2c2c2c;
  border-radius: 0.5rem;
  cursor: pointer;
  margin:0.5rem 0;
}

.selectOptionTitle{
  display: flex;
  align-items: center;
  gap:1rem
}

.selectOptionTitle :first-child{
  font-weight: 600;
}

.selectOptionTitle :nth-child(2){
  font-weight: 400;
  font-size: 0.8rem;
}

.selectOptionChart{
  width: 100%;
  height: 4rem;
}